@using Socius.Dto.Views.Feeds;
@using Socius.Extensions;
@using Socius.Helpers;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<!DOCTYPE html>
<html>

<head>
	<title>Socius</title>
	<style>
		.feed {
			display: flex;
			flex-flow: row wrap;
		}
		.post {
			box-sizing: border-box;
			margin: 8px 8px;
			background-color: #56a5cf;
			width: 400px;
			padding: 4px;
		}
		.post > a {
			display: flex;
			flex-flow: row nowrap;
			color: inherit;
			text-decoration: none;
		}
		.post > a > img {
			max-width: 150px;
			margin-right: 8px;
		}

	</style>
</head>


<body>

	<h1>Socius Feeds</h1>
	@Model.RenderFeeds(Model.Socius)
	@*var feeds = Model.GetFeeds(Model.Socius); returns c# object for custom implementation*@


	<h1>Socius Feeds Async</h1>
	<section id="socius-async"></section>
	<button onclick="Socius.renderFeedsAsync(@Model.Socius, 'socius-async')">Render Socius Feeds Async</button>
	@*<script type="text/javascript">Socius.getFeedsAsync(@Model.Socius)</script> gets json object for custom async implementation*@


	<script type="text/javascript" src="/scripts/SociusJs.js"></script>

</body>

</html>