
.sc-overview-cards {
	grid-gap: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}

.sc-profile-card {
	box-sizing: border-box;
	display: flex;
	max-width: 100%;
	position: relative;
	user-select: none;
	cursor: pointer;
}

.sc-profile-card > div {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  max-width: 100%;
  padding: 15px;
  position: relative;
}

.sc-profile-card-avatar {
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.sc-profile-card-name {
  word-wrap: break-word;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 2px;
  text-align: center;
}

.sc-profile-card-sites {
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

.sc-changelog > li {
  position: relative;
  display: flex;
}

.sc-changelog-line {
  position: relative;
  padding: .5rem 0;
  font-size: 18px;
  color: #3f51b5;
}

.sc-changelog-line::before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  top: 1rem;
  left: 50%;
  margin-left: -1px;
  border-left: 2px solid rgba(34,34,48,0.1);
}

.sc-changelog-log {
  width: 100%;
  margin-left: 1.25rem;
  padding: .5rem 0;
}

.sc-welcome {
  display: flex;
  flex-flow: row nowrap;
}
.sc-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(45%,1fr));
  column-gap: 16px;
  width: 100%;
}
.sc-cards .umb-box {
  cursor: pointer;
}


.sc-qna-article {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
  margin-bottom: 16px;
}
.sc-qna-question {
  align-items: center;
  background-color: #1b264f;
  border-radius: 3px 3px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.sc-qna-question > h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}
.sc-qna-answer {
  background: #fff;
  border-radius: 0 0 3px 3px;
  border-top: none;
  padding: 15px 20px;
}
.sc-qna-answer p {
  color: #515054;
  font-size: 14px;
  line-height: 1.6em;
}

.sc-profile-container {
  display: flex;
}
.sc-profile-credentials {
  margin-right: 30px;
  width: calc(100% - 380px);
  flex-grow: 1;
}
.sc-profile-meta {
  flex: 0 0 350px;
}
.sc-profile-image-editor {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.sc-profile-metadata-item {
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sc-profile-credentials input::-webkit-outer-spin-button,
.sc-profile-credentials input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sc-profile-credentials input[type=number] {
  -moz-appearance: textfield;
}